{
  "extends": [
    "airbnb",
    "formio"
  ],
  "rules": {
    "object-curly-spacing": [2, "always"]
  },
  "globals": {
    "window": true,
    "document": true,
    "require": true,
    "module": true,
    "global": true,
    "fetch": true,
    "FormioComponents": true
  }
}
