@import "~bootstrap/dist/css/bootstrap.css";
@import "~formiojs/dist/formio.full.min.css";

.nav-link a {
  color: inherit;
  text-decoration: none;
}

.formio-brand {
  font-size: 1rem;
}

.navbar-brand a {
  color: inherit;
  text-decoration: none;
}
