
// @import "~bootswatch/dist/cosmo/_variables.scss";
// @import "~bootswatch/dist/cosmo/_bootswatch.scss";
@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: '../fonts';
@import '~font-awesome/scss/font-awesome';
@import '~formiojs/dist/formio.full.css';
